:root {
    /* shades of black and white */
    --c12: #000000;
    --c11: #151515;
    --c2: #EDEDED;
    --c1: #F7F7F7;
    --w: #FFFFFF;

    /* Main colors */
    --r1: #FFC8C8;
    --r4: #C51718;
    --b4: #004f9f;
    --y3: #FFCC00;
}