:root {
    /* shades of black and white */
    --c11: #151515;
    --c4: #CCCCCC;
    --c2: #EDEDED;
    --w: #FFFFFF;

    /* Background Color */
    --bg1: #FFFBF0;
    --bg2: #F9F5EB;
    --bg-footer: #F9F5EB;

    /* Main colors */
    --r1: #FFC8C8;
    --r4: #C51718;
    --b1: #8BBAC8;
    --b4: #004f9f;
    --b5: #07254A;
    --y2: #E79F3B;
    --y3: #FFCC00;

    /* Spot Colors */
    --spot-b1: #5081CA;
    --spot-y1: #F8A41B;
}

.w{
    color: var(--w);
}

.b4{
    color: var(--b4)
}

.spot-b1 {
    color: var(--spot-b1);
}

.spot-y1 {
    color: var(--spot-y1);
}