/* CSS Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--c11);
}

html {
    font-size: 16px;
    /* base */
}

@media (max-width: 830px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 8px;
    }
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    /* font-family: var(--font-family-main, Arial, sans-serif);
    background: var(--color-bg);
    color: var(--color-text); */
    /* line-height: 1.5; */
}

h1,
h2,
h3,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}