@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Font Family */
    --font-DM-Sans: 'DM Sans', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;

    /* Font Size */
    /* --font-title: 4.375rem;
    --font-xxl: 4rem;
    --font-xl: 2rem;
    --font-l: 1.5rem;
    --font-m: 1.125rem;
    --font-s: 1rem; */

    /* Line Height */
    /* --line-height-title: 5.6875rem;
    --line-height-xxl: 4.5rem;
    --line-height-xl: 2.5rem;
    --line-height-l: 2.25rem;
    --line-height-m: 1.5rem; */

    /* 600 - semibold */
    /* 500 - medium */
    /* 400 - regular */
    /* DM Sans */
    --font-title: 600 4.375rem/1.3 var(--font-DM-Sans);
    --font-1-xxl: 400 4rem/1.1 var(--font-DM-Sans);
    --font-1-xl: 600 2rem/1.3 var(--font-DM-Sans);

    /* Montserrat */
    --font-2-xl: 400 2rem/1.3 var(--font-Montserrat);
    --font-2-l: 400 1.5rem/1.5 var(--font-Montserrat);
    --font-2-l-b: 600 1.5rem/1.5 var(--font-Montserrat);
    --font-2-m: 400 1.125rem/1.3 var(--font-Montserrat);
    --font-2-s: 400 1rem/1.5 var(--font-Montserrat);
}

.font-title {
    font: var(--font-title);
    letter-spacing: 0.05em;
}

.font-2-l {
    font: var(--font-2-l);
}

.font-2-l-b {
    font: var(--font-2-l-b);
    letter-spacing: .015em;
}