.container {
    box-sizing: border-box;
    max-width: 1440px;
    padding: 40px 80px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 430px){
    .container{
        padding: 20px;
    }
}

.underline::after {
    display: block;
    content: '';
    width: 60%;
    margin-left: 20px;
    height: 2px;
    background: linear-gradient(to right, var(--r1), var(--r4));
}

.img-shadow {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.img-border-radius-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media (max-width: 1030px){
    .img-border-radius-right{
        border-radius: 50px;
        width: 90%;
        margin: 0 auto;
    }
}

.cta-btn {
    display: flex;
    width: max-content;
    padding: 20px 40px;
    background-color: var(--spot-y1);
    justify-items: center;
    align-items: center;
    border-radius: 100px;
    gap: 40px;
    
    & a{
        color: var(--w);
        font: var(--font-1-xl);
    }
}