.container {
    box-sizing: border-box;
    max-width: 1200px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-left: auto;
    margin-right: auto;
}

.underline::after {
    content: '';
    display: block;
    width: 60%;
    margin-left: 20px;
    height: 2px;
    background: linear-gradient(to right, var(--r1), var(--r4));
}