.footer {
    background-color: var(--bg-footer);

    & div {
        display: flex;
        justify-content: space-between;
        font: var(--font-2-m);
        padding-bottom: 40px;

        & h4 {
            font: var(--font-2-l);
            color: var(--spot-b1);
        }

        & .footer-logos,
        .footer-contact,
        .footer-contact ul,
        .footer-info ul,
        .footer-info {
            display: flex;
            flex-direction: column;
        }

        & .footer-logos {
            & img {
                max-width: 140px;
                height: auto;
            }
        }

        & .footer-contact {
            gap: 40px;
            text-align: left;

            & ul {
                gap: 10px;

                & li {

                    & a {
                        display: flex;
                        gap: 20px;
                    }
                }
            }

            & .footer-social-media {
                display: flex;
                gap: 40px;
                width: max-content;
            }
        }

        & .footer-info {
            height: max-content;
            gap: 40px;

            & ul {
                gap: 5px
            }
        }
    }

    & p {
        text-align: center;
        font: var(--font-2-s);

        & a {
            color: var(--spot-b1);
        }
    }
}

@media (max-width: 920px){
    .footer{
        & .footer-contact ul{
            padding-top: 80px;
        }
    }
}

@media (max-width: 430px) {
    .footer {
        & div {
            flex-direction: column;
            justify-items: center;
            margin: 0 auto;
            padding-bottom: 20px;

            & .footer-logos {
                flex-direction: row;
                gap: 40px;
            }

            & .footer-contact {
                text-align: center;
                gap: 20px;
                order: 1;

                & ul{
                    padding-top: 0px;
                }

                & .footer-social-media {
                    flex-direction: row;
                }
            }

            & .footer-info {
                text-align: center;
                gap: 20px;
            }
        }
    }
}

.map {
    height: 400px;
}

@media (max-width: 770px){
    .map {
        display: none;
    }
}