/* Importing general CSS - UTILS */
@import './utils/global.css';
@import './utils/typography.css';
@import './utils/colors.css';

/* Importing Components */
@import './components/header.css';
@import './components/footer.css';
@import './components/components.css';

/* Importing pages styles */
@import './modules/spot.css';